<%= form for @raw_article_curation do |f| %>
  <div class="curation_form_area">
    <h3>Interaction</h3>

  </div>

  <div class="curation_form_area">
    <h3>Spatial Dimension</h3>

  </div>

  <div class="curation_form_area">
    <h3>External Potential</h3>

  </div>

  <div class="curation_form_area">
    <h3>Statistics Type</h3>

  </div>

  <div class="curation_form_area">
    <h3>Temperature</h3>

  </div>

  <div class="curation_form_area">
    <h3>Particle Number</h3>

  </div>

  <div class="curation_form_area">
    <!-- Needs to be a nested form -->
    <h3>Authors</h3>

  </div>
<% end %>
