<div id="search_results">
  <%= render 'raw_articles_index' %>
</div>
<div id="raw_articles_pagination_container" class="pagination_container">
</div>
<script type="text/javascript">
  getPaginationSplines( "<%= j get_raw_article_pagination_splines_path %>",
    function(data){
      populatePagination("raw_articles_pagination_container", "links", data, 10, "updateIndex");
    },
    function(data){
      console.log("Something Went Wrong");
    }
  );

  function updateIndex(spline){
    $.ajax({
      method: 'GET',
      url: "/raw_articles?ajax=true&raw_article_spline=" + spline,
      success: function( response ){
        $("#search_results").html(response);
      }
    })
  }
</script>
