<div class="article">

  <span>
    <%= @raw_article.short_arxiv_identifier %>
    <%= @raw_article.title %>
  </span>
  <br/>
  <%= @raw_article.authors %>
  <br/>
  <span>
    Abstract
  </span>
  <p>
    <%= @raw_article.abstract %>
  </p>
</div>
