<div class="article">

  <span>
    <%= @article.raw_article.title %>
  </span>
  <br/>
  <% @article.authors.each do |author| %>
    <%= link_to "[#{author.person.name}]", author_path(author.id) %>
  <% end %>
  <br/>
  <span>
    Abstract
  </span>
  <p>
    <%= @article.raw_article.abstract %>
  </p>
  <div class="tag_container">
    <span>Tags</span>
    <br/>
    <% @article.tags.each do |tag| %>
      <span>[<%= tag.name %>]</span>
    <% end %>
  </div>
</div>
